body{
    background: url('image/cetest.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}
.container1{
    height: 0%;
}
.container{
    background-color: white;
    height: 70%;
    margin-top: 8%;
}
